
.hero-container {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.hero-container > h1 {
    color: #2b2422;
    display: flex;
    flex-direction: column;
    font-family: 'Inclusive Sans', sans-serif;
    margin: 20px;
}

.hero-container img {
    width: 100%;
}

.hero-container .information {
    margin: 20px;
    font-size: 1.5em;
}
.hero-container #gif {
    margin: 20px 0 0 0;
}

.hero-container #gif .gif {
    border-radius: 50%;
    width: 70%;
    height: 77%;
}

