
.hero-container {
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    /* height: 90vh; */
}

.hero-content > h1 {
    color: #2b2422;
    display: flex;
    flex-direction: column;
    font-family: 'Inclusive Sans', sans-serif;
    margin: 20px;
    font-size: 1.75em;
}

.hero-content figure {
    margin: 0 40px;
}


.hero-content img {
    width: 90%;
    max-width: 500px;
}

.hero-content .information {
    margin: 20px;
    font-size: 1.5em;
}

.hero-content #gif .gif {
    border-radius: 50%;
    width: 65%;
}

.hero-content .babies-div {
    margin: 20px 0;
}

