/* POTENTIAL COLORS
#1b9d54
#d6d42e;
#e37b39;
#dc7a93 
#ece3d3
#2b2422
*/

/* FONTS
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shadows Into Light', cursive;
 */

.App {
  text-align: center;
  background-color: #ece3d3;
  font-family: 'Inclusive Sans', sans-serif;
}

